.header {
  font-family: 'StarJedi';
  font-weight: 600;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  font-size: 50px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'StarJedi';

  gap: 50px;
  font-size: 30px;
  margin: 30px 0;

  li {
    &:hover {
      transform: scale(1.09);
      transition: 0.4s;
    }
  }
}

.active {
  color: yellow;
}
