.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  height: 32px;
  padding: 12px 8px 12px 12px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #fff;
}
