.table {
  border: 2px solid grey;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  border-collapse: collapse;

  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    border: 1px solid grey;
    align-content: center;
    text-align: center;
    height: 53px;
  }
}

.loading {
  text-align: center;
}
