.table {
  color: #fff;
  border: 2px solid grey;
  display: grid;
   grid-template-columns: 170px 100px 100px 150px 200px;
  border-collapse: collapse;
  

  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    border: 1px solid grey;
    align-content: center;
    text-align: center;
    height: 59px;
    font-size: 18px;
  }
  // max-width: 100vw;
}

// .table-container {
//   width: 100%;
//   overflow-x: auto; /* Добавляет горизонтальную прокрутку, если нужно */
//   max-width: 100vw; /* Не даёт таблице выходить за пределы экрана */
// }

// .table {
//   color: #fff;
//   border: 2px solid grey;
//   display: grid;
//   grid-template-columns: 200px 100px 100px 150px 200px;
//   border-collapse: collapse;
//   max-width: 100%; /* Ограничиваем ширину таблицы */
// }

// thead,
// tbody,
// tr {
//   display: contents;
// }

// th,
// td {
//   border: 1px solid grey;
//   align-content: center;
//   text-align: center;
//   min-width: 100px; /* Минимальная ширина ячеек */
//   padding: 8px;
// }