.table {
  color: #fff;
  border: 2px solid grey;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr 2fr;
  border-collapse: collapse;
  width: 100%;

  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    border: 1px solid grey;
    align-content: center;
    text-align: center;
    height: 59px;
    font-size: 18px;
  }
}
