.header {
  font-family: 'StarJedi';
  font-weight: 600;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  font-size: 70px;
}

.navbar {
  font-family: 'StarJedi';
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 50px;
  font-size: 35px;
}
