@use './normalize.css';
@use './fonts';
@use './stars';

body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #000000 0%, #090a0f 100%);
  font-family: 'StarJedi';
  color: #fff;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.status {
  text-align: center;
  font-size: 32px;
  color: #fff;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  height: 100vh;
}

label {
  font-size: 20px;
}
