@use './normalize.css';
@use './fonts';
@use './stars';

#root {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #000000 0%, #090a0f 100%);
  font-family: 'StarJedi';
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}
